.main-container {
    background-color: #d9d9d9; /* Entire background color */
    min-height: 100vh; /* Ensure it covers the full viewport height */
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the total width/height */
}
.main-container h1{
    text-align: center;
}

.contact-background {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

.image-holder {
    flex: 1;
    margin-right: 20px;
    height: 500px; 
    display: flex;
    justify-content: flex-start;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.text-holder {
    flex: 1;
    text-align: left;
    padding-left: 2%;
    padding-top: 2%;
}
.text-holder h2 {
    margin-top: 0; /* Remove top margin */
    margin-bottom: 5px; /* Adjust bottom margin for less space */
}

.text-holder p {
    background-color: black; /* Background color for the pill */
    color: white; /* Text color for contrast */
    border-radius: 20px; /* Creates the pill shape */
    padding: 10px 20px; /* Padding for better appearance */
    display: inline-block; /* Ensures the p tags don't take full width */
    margin-bottom: 10px; /* Space between pills */
}
