.hero {
    position: relative;
    text-align: center;
  }
  
  .hero-text{
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    line-height: 130px;
}
.hero-text p{
    display: inline-block;
    margin-right: 1%;
}
.hero-arrow-controls {
    position: absolute;
    bottom: -150%; /* Adjust the distance from the bottom as needed */
    left: 10%; /* Adjust the distance from the left as needed */
    display: flex;
    gap: 10px; /* Space between the arrows */
  }
  
  .hero-arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 36px; /* Adjust size as needed */
    color: #fff; /* Adjust color as needed */
  }
  
  .hero-arrow:hover {
    color: orangered; /* Adjust hover color as needed */
  }
  